.idea/
Pods/
!Podfile
!Podfile.lock

ExistAPI.app.dSYM.zip
ExistAPI.xcworkspace/xcshareddata
xcuserdata/
.DS_Store
*.xcappdata
*.xcappdata/
DerivedData/
build/
Builds/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
